* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: getColour(secondary);
  font-family: $font-primary;
}

.wrapper {
  flex: 1 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
