footer {
  background: getColour(beige);
  flex-shrink: 0;
  color: getColour(grey);
  height: 44px;

  @media (max-width: 414px) {
    margin-top: 205px;
    height: 92px;
  }

  .container {
    padding: 10px 0px 0px 0px;

    @media (max-width: 414px) {
      display: block;
      text-align: center;
      margin-top: 10px;
    }
    .container__item {
      margin-right: 0px;
    }
  }

  .container {
    @extend .container-flex;
  }
}
